<div class='container space'>
	<div class='col-sm-4'>
		<img class='img-responsive rounded' src="../images/donna.jpg">	
	</div>
	<div class='col-sm-8'>
		<h1 class='text-center'>Made with love</h1>
		<p>Hi everyone! My name is Donna and I am the creator behind Macadons. I have always had a passion for baking since I was a kid and macarons are one of my favorite treats to make and give bbecause of the various flavors and combinations one cane make with them. I do everything with love and i guarantee that each Macaon will be sweet with love. I hope you enjoy them!</p>
	</div>
</div>
