<div ng-controller="userController">
	<h1>Admin</h1>
	<button ng-if="user" ng-click="logout()">Logout</button>
{{user}}

	<form>
	<h1>Login</h1>
	Username : <input type="text" name="username" ng-model="admin.username">
	Password : <input type="password" name="password" ng-model="admin.password">
	<button type="button" ng-click="login(admin)">Login</button>

	</form>


	<form class='form-group'>
	<h1>Register</h1>
	<label class='control-label col-sm-2' for='first_name'>First Name :</label>
	<input type="text" name="first_name" ng-model="userAd.first_name" class='form-control input-md'>
	<label class='control-label col-sm-2' for='last_name'>Last Name :</label>
	<input type="text" name="last_name" ng-model="userAd.last_name" class='form-control input-md'>
	<label class='control-label col-sm-4' for='username'>username :</label>
	<input type="text" name="username" ng-model="userAd.username" class='form-control input-md'>
	<label class='control-label col-sm-4' for='email'>email :</label>
	<input type="email" name="email" ng-model="userAd.email" class='form-control input-md'>
	<label class='control-label col-sm-4' for='password'>password :</label>
	<input type="password" name="password" ng-model="userAd.password" class='form-control input-md'>
	<button type="button" ng-click="signup(userAd)" class='btn btn-primary'>Register</button>
	</form>
</div>