body{
	
}

ul li{
	list-style: none;
}
li{
	display: inline-block;
}
.top-nav{
	font-style: none;
	padding: 5px 5px;
	border-right: 1px solid black;
}

.nav-text{
	font-size: 24px;
	font-style: none;
}

a{
	text-decoration: none;
}
.header{
	background-image: url('../images/banner.jpg');
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
}
.center{
	position: relative;
	left: 40%;
	top: 10%;
}
.rounded{
	border-radius: 50%;
}
.space{
	padding-top: 50px;
}