body{
	background: url('/images/macadonsbackground.jpg') no-repeat center center fixed;
	/*padding-top: 120px;*/
	background-size: cover;
	overflow-y: auto;
}


ul li{
	list-style: none;
}
li{
	display: inline-block;
}
.top-nav{
	font-style: none;
	padding: 5px 5px;
	border-right: 1px solid black;
}

.nav-text{
	font-size: 24px;
	font-style: none;
}

a{
	text-decoration: none;
}
.header{
	background-image: url('../images/macadons11.jpg');
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
}
.center{
	position: relative;
	left: 40%;
	top: 10%;
	width: 300px;
}
.rounded{
	border-radius: 50%;
}
.space{
	padding-top: 50px;
}

/*logout button*/
.logoutBtn {
	width: 50px;
	float:right;
	margin-top: 10px;
}

.logoutBtn:hover{
	content: url("../images/raspberry.png")
}
/*Gallery Product information text*/
.product_info {
	text-align: center;
}

.showfaq {
	float: right;
}

.footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;	
	margin-top: 10px;
	width: 100%;
	clear: both;
}



.footer .container .fa-facebook-square,
.footer .container .fa-twitter-square,
.footer .container .fa-instagram,
.footer .container .fa-pinterest-square {
	opacity: .25;
	color: black;
	margin: 0 15px;

}

.footer .container .fa-facebook-square:hover,
.footer .container .fa-twitter-square:hover,
.footer .container .fa-instagram:hover,
.footer .container .fa-pinterest-square:hover {
	opacity: .75;
	color: black;
}

.contact {
	text-align: center;
}



